<!DOCTYPE html>

<!--
********************************************************************************
@file           : product/details.html
@author         : Alex Rogoziński
@brief          : Detailed view of an element in the products list.
********************************************************************************
-->

<html xmlns:th="http://www.thymeleaf.org en">
<head>
    <meta charset="html/text, UTF-8">
    <title>Szczegóły produktu</title> 
    <link th:replace="~{fragment/layout::stylesheet}">
</head>
<body>
    <header th:replace="~{fragment/menu::menu}"></header> 

    <main>
        <div class="content d-flex flex-column align-items-center text-center">
            <h2 class="mt-2 md-3">Szczegóły produktu</h2>

            <table class="display table table-bordered " th:object="${product}" style="width:400px">
                <thead>
                    <th class="text-center">Pole</th>
                    <th class="text-center">Wartość</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">ID</td>
                        <td class="text-center" th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <td class="text-center">Nazwa</td>
                        <td class="text-center" th:text="*{name}"></td>
                    </tr>
                    <tr>
                        <td class="text-center">Waga [kg]</td>
                        <td class="text-center" th:text="*{weight}"></td>
                    </tr>
                    <tr>
                        <td class="text-center">Cena [PLN]</td>
                        <td class="text-center" th:text="*{price}"></td>
                    </tr>
                    <tr>
                        <td class="text-center">Kategoria</td>
                        <td class="text-center" th:text="*{category}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <div th:replace="~{fragment/layout::footer}">
            <p>&copy; Alex Rogoziński 2025</p>
        </div>
    </footer> 
</body>
</html>